/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body{
    font-family: 'Noto Sans', sans-serif;
}

.width100{
    width: 100%;
}
.container1000{
    max-width: 1000px;
    margin: 0 auto;
}

.container800 {
    max-width: 800px;
    margin: 0 auto;
}

.container500{
    max-width: 500px;
}

.flex-container{
    display: flex;
}

main section{
    margin-bottom: 30px;
}

/* REGOLE HEADER */
header{
    height: 60px;
    position: fixed;
    z-index: 50;
}
header div.flex-container{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav .flex-container{
    align-items: center;
}

/* REGOLE MAIN */
main section.zero-section{
    background-color: #b4d0e7;
    min-height: 500px;
    position: relative;
}

section.zero-section div.container1000{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
}

section.one-section div.container800{
    margin-top: 80px;
}

div.column {
    width: 250px;
    min-height: 250px;
}

div.enterprise{
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
}

section.two-section{
    margin-top: 30px;
}

section.two-section div.clearfix div:first-child{
    width: 60%;
    min-height: 250px;
    float: left;
}

section.two-section div.clearfix div:last-child{
    width: 40%;
    min-height: 250px;
    float: left;
}
div.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

section.three-section div.flex-container{
    flex-wrap: wrap;
    justify-content: space-between;
}

section.three-section div.card{
    min-width: 250px;
    min-height: 250px;
}



/* REGOLE DEBUG */
.container1000,
.container800,
.width100{
    background-color: #ccc;
    border: 1px dashed black;
}
/* debug header */
.debug header{
    background-color: aqua;
    border: 1px dashed black;
}

.debug ul li{
    display: inline-block;
    list-style: none;
}

/* debug main */
.debug main section div.container1000{
    min-height: 400px;
    min-width: 1000px;
    border: 1px dashed black;
}

.debug section.one-section div.container800{
    border: 1px dashed black;
    min-height: 800px;
}

.debug section.one-section div:first-of-type .flex-container{
    background-color: aquamarine;
    justify-content: space-between;
}

.debug section.one-section div.column{
    border: 1px dashed black;
}

.debug div.enterprise{
    border: 1px dashed black;
    background-color: aquamarine;
}

.debug section.two-section div.clearfix div:first-child{
    border: 1px dashed black;
}

section.two-section div.clearfix div:last-child{
    border: 1px dashed black;
}

.debug section.three-section div div.card{
    border: 1px dashed black;
}

.debug section.five-section > div{
    border: 1px dashed black;
}